/* Header CSS */
.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width:100%;
}

.logo-container{
    max-width: 5rem;
}

#logo-img{
    width: 7rem;
}
.nav-Items > ul{
    display: flex;
}

.nav-Items > ul > li {
    margin-left: 10px;
    font-size: 20px;
    list-style: none;
    margin-top: 30px;
    padding: 0px 10px;
}

.nav-Items > ul > li:hover{
    box-shadow: 1px 1px 1px rgba(205, 205, 202, 0.726);
}
.search{
    display:flex;
    padding: 2.5rem;
}
.search-textbox{
    width: 25rem;
    height: 2rem;
    margin-left: 13rem;
    margin-right: 2rem;
    border: 1px solid #b9b6b36b;
    border-radius: 5px ;
}
.search-textbox:hover{
    box-shadow: 1px 1px 1px rgba(205, 205, 202, 0.726); 
}
.search-button{
    border: 1px solid #b9b6b36b;
    border-radius: 10px ;
    font-size: medium;
    width: 5rem;
    height: 2.5rem;
    font-family:cursive;
}
.search-button:hover{
    box-shadow: 1px 1px 1px rgba(205, 205, 202, 0.726);
}

/* Body CSS */
/* Card CSS */
.body-res-card{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.res-card{
    border-radius: 10px;
    border: 1px solid #b9b6b36b;
    width: 17rem ;
    margin: 1rem;
}

.res-card:hover{
    box-shadow: 4px 3px 4px rgba(205, 205, 202, 0.726);
    transition:ease-in-out;
    border: 1px solid;
}

.res-card-content{
   display:inherit;
   margin: 10px;
   padding-left: 10px;
   /* overflow: hidden; */
}

#card-img{
    display: inherit;
    width: 17rem;
    height:15rem;
    object-fit:fill;
    object-position: top; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
.card-title{
    font-size:25px;
    color: #632e00;
}
